/* Flex Container */

.card-container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap:20px;
    margin:30px;
    flex-wrap: wrap;
}

/* Card */

.card{
    width:350px;
}
